<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ozstrategy.dao.system.GlobalTypeDao">
    <!--<cache type="org.mybatis.caches.ehcache.EhcacheCache"/>-->
    <resultMap id="globalTypeResult" type="com.ozstrategy.model.system.GlobalType" autoMapping="true">
        <id column="typeId" property="typeId" javaType="long"/>
        <association property="parent" column="parentId" select="getNoCascadeGlobalTypeById"/>
        <collection property="children" column="typeId" select="getChild"/>
        <!--<collection property="fields" column="id" select="com.ozstrategy.dao.forms.FormFieldDao.getFormFieldByFormId"/>-->
        <!--<collection property="children" resultMap="flowFormResult"/>-->
        <!--<collection property="children" resultMap="flowFormResult"/>-->
        <!--<collection property="fields" resultMap="com.ozstrategy.dao.forms.FormFieldDao.formFieldResult"/>-->
    </resultMap>
    
    <select id="listGlobalTypes" resultMap="globalTypeResult" parameterType="Map">
        select f.* from GlobalType f where f.enabled=1
        <if test="keyword!=null and keyword!=''">and (f.typeName like CONCAT(CONCAT('%', #{keyword}), '%') or f.typeKey like CONCAT(CONCAT('%', #{keyword}), '%'))</if>
        <if test="catKey!=null and catKey!=''">and f.catKey =#{catKey}</if>
        <if test="parentTypeId!=null and parentTypeId!=''">and f.parentId =#{parentTypeId}</if>
        order by f.createDate desc
    </select>
    <select id="getGlobalTypeWithoutParent" resultMap="globalTypeResult" parameterType="Map">
        select f.* from GlobalType f where f.enabled=1 and f.parentId is null
        <if test="catKey!=null and catKey!=''">and f.catKey=#{catKey}</if>
    </select>
    
    <select id="listGlobalTypesCount" resultType="java.lang.Integer" parameterType="Map">
        select count(*) from GlobalType f where f.enabled=1 
        <if test="keyword!=null and keyword!=''">and (f.typeName like CONCAT(CONCAT('%', #{keyword}), '%') or f.typeKey like CONCAT(CONCAT('%', #{keyword}), '%'))</if>
        <if test="catKey!=null and catKey!=''">and f.catKey =#{catKey}</if>
        <if test="parentTypeId!=null and parentTypeId!=''">and f.parentId =#{parentTypeId}</if>
    </select>
    
    
    <select id="getChild" resultMap="globalTypeResult" parameterType="long">
        select f.* from GlobalType f where f.enabled=1 and f.parentId=#{id} 
    </select>
    <select id="getGlobalTypeById" resultMap="globalTypeResult" parameterType="long" flushCache="true">
        select f.* from GlobalType f where f.typeId=#{typeId} and f.enabled=1 
    </select>
    <select id="getNoCascadeGlobalTypeById" resultType="com.ozstrategy.model.system.GlobalType" parameterType="long">
        select f.* from GlobalType f where f.typeId=#{id} and f.enabled=1 
    </select>
    <delete id="removeChild" parameterType="long">
        delete from GlobalType where parentId=#{parentId}
    </delete>
    <update id="update" parameterType="com.ozstrategy.model.system.GlobalType" flushCache="true">
        update GlobalType f set 
        f.typeName=#{typeName} , 
        f.typeKey=#{typeKey} , 
        f.path=#{path} , 
        f.depth=#{depth} , 
        f.catKey=#{catKey} , 
        f.priority=#{priority} , 
        f.enabled=#{enabled} , 
        f.parentId=#{parent.typeId} , 
        f.lastUpdateDate=#{lastUpdateDate} 
        where f.typeId=#{typeId}
    </update>
    <delete id="delete" parameterType="long" flushCache="true">
        delete from GlobalType where typeId=#{typeId}
    </delete>
    <insert id="save" parameterType="com.ozstrategy.model.system.GlobalType" flushCache="true">
        <selectKey keyColumn="typeId" keyProperty="typeId" resultType="java.lang.Long">
            select LAST_INSERT_ID()
        </selectKey>
        insert into GlobalType(typeId,typeName,typeKey,path,depth,catKey,priority,enabled,parentId,createDate,lastUpdateDate) 
        values (#{typeId},#{typeName},#{typeKey},#{path},#{depth},#{catKey},#{priority},#{enabled},#{parent.typeId},#{createDate},#{lastUpdateDate})
    </insert>
</mapper>