<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ozstrategy.dao.system.SystemMessageDao">
    <!--<cache type="org.mybatis.caches.ehcache.EhcacheCache"/>-->
    <resultMap id="SystemMessageResult" type="com.ozstrategy.model.system.SystemMessage" autoMapping="true">
        <id column="id" property="id" javaType="long"/>
        <association property="receiver" column="receiverId" select="com.ozstrategy.dao.userrole.UserDao.getNoCascadeUserById"/>
    </resultMap>
    
    <select id="listSystemMessages" resultMap="SystemMessageResult" parameterType="Map">
        select f.* from SYSTEMMESSAGE f where 1=1 
        <if test="read!=null and read!=''">and f.readFlag =#{readFlag}</if>
        <if test="receiver!=null">and f.receiverId =#{receiver.id}</if>
        order by f.createDate desc
    </select>
    
    <select id="listSystemMessagesCount" resultType="java.lang.Integer" parameterType="Map">
        select count(*) from SYSTEMMESSAGE f where 1=1
        <if test="read!=null and read!=''">and f.readFlag =#{readFlag}</if>
        <if test="receiver!=null">and f.receiverId =#{receiver.id}</if>
    </select>
    
    <update id="update" parameterType="com.ozstrategy.model.system.SystemMessage" flushCache="true">
        update SYSTEMMESSAGE f set 
        f.receiverId=#{receiver.id} , 
        f.readFlag=#{readFlag} , 
        f.content=#{content} , 
        f.type=#{type,typeHandler=org.apache.ibatis.type.EnumTypeHandler}, 
        f.lastUpdateDate=#{lastUpdateDate} 
        where f.id=#{id}
    </update>
    <delete id="delete" parameterType="long" flushCache="true">
        delete from SYSTEMMESSAGE where id=#{id}
    </delete>
    <delete id="deleteByCreateDate" parameterType="java.util.Date" flushCache="true">
        delete from SYSTEMMESSAGE where createDate &lt; #{date}
    </delete>
    
    <insert id="save" parameterType="com.ozstrategy.model.system.SystemMessage" flushCache="true">
        <selectKey keyColumn="id" keyProperty="id" resultType="java.lang.Long">
            select LAST_INSERT_ID()
        </selectKey>
        insert into SYSTEMMESSAGE(id,receiverId,readFlag,content,type,createDate,lastUpdateDate) 
        values (#{id},#{receiver.id},#{readFlag},#{content},#{type,typeHandler=org.apache.ibatis.type.EnumTypeHandler},#{createDate},#{lastUpdateDate})
    </insert>
</mapper>