<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ozstrategy.dao.flows.ProcessElementDao">
    <!--<cache type="org.mybatis.caches.ehcache.EhcacheCache"/>-->
    <resultMap id="processElementResult" type="com.ozstrategy.model.flows.ProcessElement" autoMapping="true">
        <id column="id" property="id" javaType="long"/>
        <association property="processDef" column="processDefId" select="com.ozstrategy.dao.flows.ProcessDefDao.getNoCascadeProcessDefById"/>
        <collection property="instances" column="id" select="com.ozstrategy.dao.flows.ProcessFormFiledInstanceDao.getProcessFormFiledInstancesByEid"/>
        <collection property="users" column="id" select="getProcessElementUsers"/>
    </resultMap>
    
    <select id="listProcessElements" resultMap="processElementResult" parameterType="Map">
        select f.* from ProcessElement f where 1=1
        <if test="keyword!=null and keyword!=''">and (f.taskKey like CONCAT(CONCAT('%', #{keyword}), '%') or f.label like CONCAT(CONCAT('%', #{keyword}), '%'))</if>
    </select>
    <select id="listProcessElementsCount" resultType="java.lang.Integer" parameterType="Map">
        select count(*) from ProcessElement f where 1=1
        <if test="keyword!=null and keyword!=''">and (f.taskKey like CONCAT(CONCAT('%', #{keyword}), '%') or f.label like CONCAT(CONCAT('%', #{keyword}), '%'))</if>
    </select>
    
    <select id="getProcessElementById" resultMap="processElementResult" parameterType="long" flushCache="true">
        select f.* from ProcessElement f where f.id=#{id} 
    </select>
    <select id="getProcessElementByDefId" resultMap="processElementResult" parameterType="long" flushCache="true">
        select f.* from ProcessElement f where f.processDefId=#{defId} 
    </select>
    
    <select id="getProcessElementUsers" resultMap="com.ozstrategy.dao.userrole.UserDao.userResult" parameterType="long" flushCache="true">
        select * from User u join (select peu.userId from ProcessElement f join ProcessElementUser peu on f.id=peu.elementId where f.id=#{id}) ppeu on u.id=ppeu.userId 
    </select>
    
    <select id="getProcessElementByTaskKey" resultMap="processElementResult" parameterType="string">
        select f.* from ProcessElement f where f.taskKey=#{taskKey} 
    </select>
    
    <delete id="deleteProcessElement" parameterType="long">
        delete from ProcessElement where id=#{id}
    </delete>
    <delete id="deleteProcessElementByDefId" parameterType="long">
        delete from ProcessElement where processDefId=#{processDefId}
    </delete>
    
    <update id="updateProcessElement" parameterType="com.ozstrategy.model.flows.ProcessElement" flushCache="true">
        update ProcessElement f set 
        f.type=#{type} , 
        f.label=#{label} , 
        f.taskKey=#{taskKey} , 
        f.actClass=#{actClass} , 
        f.processDefId=#{processDef.id}  
        where f.id=#{id}
    </update>
    <insert id="saveProcessElement" parameterType="com.ozstrategy.model.flows.ProcessElement" flushCache="true">
        <selectKey keyColumn="id" keyProperty="id" resultType="java.lang.Long">
            select LAST_INSERT_ID()
        </selectKey>
        insert into ProcessElement(id,type,label,taskKey,processDefId,actClass) 
        values (#{id},#{type},#{label},#{taskKey},#{processDef.id},#{actClass})
    </insert>
</mapper>