<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ozstrategy.dao.flows.TaskLinkTaskDao">
    <resultMap id="TaskLinkTaskResult" type="com.ozstrategy.model.flows.TaskLinkTask" autoMapping="true">
        <id column="id" property="id" javaType="long"/>
    </resultMap>
    <select id="getTaskLinkTaskByCurrentId" parameterType="string" resultMap="TaskLinkTaskResult">
        select * from TASKLINKTASK t where t.currentTaskId=#{currentId} 
    </select>
    
    
    <insert id="insert" parameterType="com.ozstrategy.model.flows.TaskLinkTask" flushCache="true">
        insert into TASKLINKTASK(id,actInstanceId,currentTaskId,fromTaskId,fromTaskKey,fromTaskType,currentTaskKey,fromTaskAssignee,createDate,lastUpdateDate)
        values (#{id},#{actInstanceId},#{currentTaskId},#{fromTaskId},#{fromTaskKey},#{fromTaskType,typeHandler=org.apache.ibatis.type.EnumTypeHandler},#{currentTaskKey},#{fromTaskAssignee},#{createDate},#{lastUpdateDate})
    </insert>
    <update id="updateCurrentId" flushCache="true" parameterType="Map">
        update TASKLINKTASK set  
        currentTaskId=#{currentId} 
        where id=#{id}
    </update>
    <update id="update" parameterType="com.ozstrategy.model.flows.TaskLinkTask" flushCache="true">
        update  TASKLINKTASK set 
        actInstanceId=#{actInstanceId},
        currentTaskId=#{currentTaskId},
        fromTaskId=#{fromTaskId},
        fromTaskKey=#{fromTaskKey},
        currentTaskKey=#{currentTaskKey},
        fromTaskAssignee=#{fromTaskAssignee},
        lastUpdateDate=#{lastUpdateDate},
        fromTaskType=#{fromTaskType,typeHandler=org.apache.ibatis.type.EnumTypeHandler}
        where id=#{id}
    </update>
    
    
</mapper>