<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--<plugins>-->
        <!--<plugin interceptor="com.ozstrategy.interceptor.PaginationInterceptor">-->
            <!--<property name="pageSqlId" value="*" />-->
        <!--</plugin>-->
    <!--</plugins>-->
	<!--<plugins>-->
		<!--<plugin interceptor="com.ozstrategy.interceptor.PaginationInterceptor">-->
			<!--<property name="pageSqlId" value="*" />-->
			<!--&lt;!&ndash; <property name="pageSqlId" value=".*listPage.*" /> &ndash;&gt;-->
		<!--</plugin>-->
	<!--</plugins>-->
	<!--<environments default="etl_platform">-->
		<!--<environment id="etl_platform">-->
			<!--<transactionManager type="JDBC" />-->
			<!--<dataSource type="POOLED">-->
				<!--<property name="driver" value="oracle.jdbc.driver.OracleDriver" />-->
				<!--<property name="url" value="jdbc:oracle:thin:@127.0.0.1:1521:dw" />-->
				<!--<property name="username" value="etl_platform" />-->
				<!--<property name="password" value="etl" />-->
			<!--</dataSource>-->
		<!--</environment>-->
	<!--</environments>-->
    <!--<typeHandlers>-->
        <!--<typeHandler  javaType="java.util.Map" jdbcType="varchar" handler="com.ozstrategy.handler.StringToMapHandler" />-->
    <!--</typeHandlers>-->

    <settings>
        <setting name="cacheEnabled" value="false"/>
        <setting name="lazyLoadingEnabled" value="true"/>
    </settings>
	<mappers>
		<mapper resource="com/ozstrategy/dao/userrole/UserMapper.xml"/>
		<mapper resource="com/ozstrategy/dao/userrole/UserRoleMapper.xml"/>
		<mapper resource="com/ozstrategy/dao/userrole/RoleMapper.xml"/>
		<mapper resource="com/ozstrategy/dao/userrole/SystemViewMapper.xml"/>
		<mapper resource="com/ozstrategy/dao/userrole/FeatureMapper.xml"/>
		<mapper resource="com/ozstrategy/dao/userrole/RoleFeatureMapper.xml"/>
		<mapper resource="com/ozstrategy/dao/system/GlobalTypeMapper.xml"/>
		<mapper resource="com/ozstrategy/dao/forms/FlowFormMapper.xml"/>
		<mapper resource="com/ozstrategy/dao/forms/FormFieldMapper.xml"/>
		<mapper resource="com/ozstrategy/dao/flows/ProcessDefMapper.xml"/>
		<mapper resource="com/ozstrategy/dao/flows/ProcessElementMapper.xml"/>
		<mapper resource="com/ozstrategy/dao/flows/ProcessElementFormMapper.xml"/>
		<mapper resource="com/ozstrategy/dao/flows/ProcessDefVersionMapper.xml"/>
		<mapper resource="com/ozstrategy/dao/flows/ProcessFileAttachMapper.xml"/>
		<mapper resource="com/ozstrategy/dao/flows/ProcessDefInstanceDraftMapper.xml"/>
		<mapper resource="com/ozstrategy/dao/flows/ProcessDefInstanceMapper.xml"/>
		<mapper resource="com/ozstrategy/dao/flows/TaskInstanceMapper.xml"/>
		<mapper resource="com/ozstrategy/dao/flows/TaskMapper.xml"/>
		<mapper resource="com/ozstrategy/dao/flows/ProcessInstanceHistoryMapper.xml"/>
		<mapper resource="com/ozstrategy/dao/flows/TaskLinkTaskMapper.xml"/>
	</mappers>
</configuration>
